.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #002c55;
  color: #fff;
}

.header-title {
  margin: 0;
}

.header-nav {
  margin: 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 40px;
}

a {
  color: #002c55;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  border: 1px solid #fff;
  display: inline-block;
}

a:hover {
  color: #007bff;
  background-color: #55a2e0;
  transition: background-color 0.3s ease;
}

a:visited {
  color: #ffffff;
}
