.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #002c55;
  color: #fff;
}

.header-title {
  margin: 0;
}

.header-nav {
  margin: 0;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav-item {
  margin-left: 0;
  margin-bottom: 30px;
  padding-left: 30px;
}

a {
  color: #002c55;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  background-color: #333;
  border: 1px solid #fff;
  display: inline-block;
  width: 65%;
  text-align: center;
}

a:hover {
  color: #007bff;
  background-color: #55a2e0;
  transition: background-color 0.3s ease;
}

a:visited {
  color: #ffffff;
}

/* basic media query for small screens */
@media only screen and (min-width: 767px) {
  .nav-list {
    flex-direction: row;
  }

  .nav-item {
    margin-bottom: 0;
    margin-left: 20px;
  }
}
