.heroes-title {
  text-align: center;
  margin: 20px 0;
}

.heroes-grid {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(150px, 1fr));
  gap: 0.8em;
  padding: 0 2rem;
  margin: 0 auto;
}

.hero {
  text-align: center;
  margin-bottom: 20px;
  background-color: #004288;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-sizing: border-box;
}

.hero-portrait {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.hero-name {
  margin: 10px 0 0;
  font-size: 1.2rem;
  word-wrap: break-word;
}

.hero-role {
  margin: 0;
  text-transform: capitalize;
  font-size: 1rem;
}

@media (min-width: 600px) {
  .heroes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  .heroes-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .hero-name {
    margin: 10px 0 0;
    font-size: 1.2rem;
    word-wrap: break-word;
  }

  .hero-role {
    margin: 0;
    text-transform: capitalize;
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .heroes-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
