.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  width: 20%;
  padding: 20px;
  background-color: #002c55;
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #55a2e0;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #555;
}

.login-notif {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .login-form {
    width: 50%;
  }
}
