.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  min-height: 100vh;
}

.search-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 20px;
  background-color: #002c55;
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.search-input:disabled {
  color: black;
}

.search-button {
  width: 80%;
  padding: 10px;
  background-color: #55a2e0;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  font-size: large;
}

.search-button:hover {
  background-color: white;
  color: black;
}

.save-button {
  width: 45%;
  padding: 10px;
  background-color: #55a2e0;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin: 10px auto;
  font-size: large;
}

.save-button:hover {
  background-color: white;
  color: black;
}

.data-container {
  margin-top: 20px;
  width: 35%;
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.login-notif {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .search-form {
    width: 80%;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  .save-button {
    width: 100%;
  }

  .data-container {
    width: 80%;
  }
}
