.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  min-height: 100vh;
}

.search-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-form {
  width: 300px;
  padding: 20px;
  background-color: #002c55;
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-button {
  width: 100%;
  padding: 10px;
  background-color: #55a2e0;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #002c55;
}

.data-container {
  margin-top: 20px;
}
